.pallini span{
    display: block;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.pallini span.active {
    background-color: rgb(195, 116, 4)
}

.item {
    display: none;
}

.item.active {
    display: block;
    object-fit: cover;
    object-position: center;
}

.item.active img{
    height: 600px;
    width: 100%;
}

.pallini {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    gap: 10px;
}